<h1>Log In </h1>

<font color="blue">

<form action="/login" method="Post">

  <label for="username">Username: </label>

  <input type="text" name="username" placeholder ="username" id="username"><br>

  <label for="password">Password: </label>

  <input type="password" name="password" placeholder ="password" id="password"><br>

  <input type="submit" value="Log In" id="submit">

  </font>

  </form>

 <p>Or visit <a href="/signup">Sign Up</a> page</p>
 <p> Or go back to <a href="/">Home</a> page </p>
