<h1>Sign Up</h1>

<font color="blue">

<form action="/signup" method="Post">

  <label for="username">Username: </label>

  <input type="text" name="username" placeholder ="username" id="name"><br>

  <label for="password">Password: </label>

  <input type="password" name="password" placeholder ="password"   id="password"><br>

  <input type="submit" value="Sign Up">

  </font>

 </form>
<p>Or visit <a href="/login">Log in</a> page</p>
<p> Or go back to <a href="/">Home</a> page </p>
