<style>
 body {text-align:center;}
</style>
<body>
 <h1> Add Car </h1>
<form action="/cars" method="post">
  <lable for="POST-name">Car Name:</lable>
  <input id="POST-name" type="test" name="car name">
  <input type="submit" value="Add Car">
  </form>

  <a href="/">Home</a>
</body>
