<style>
 body {text-align:center;}
</style>
<body>
 <h1> Add Car </h1>
<form action="/cars" method="Post">
  <lable for="POST-name">Car Name:</lable>
  <input id="POST-name" type="text" name="car_name">
  <lable for="POST-name">Car Model:</lable>
  <input id="POST-name" type="text" name="car_model">
  <input type="submit" value="Add Car">
  </form>

<p> <a href="/">Home</a> </p>
<a href="/logout">Log Out</a>
</body>
