<!DOCTYPE html>
  <html>
  <style>
    h1 {text-align:center;}
    </style>
  <h1> <%=@review.car.name %></h1>
  <h2>
  <% if flash.has?(:alert) %>
  <%= flash[:alert] %>
 <% end %>
  </h2>

  <h3> Edit review</h3>

  <p>
  <form action="/reviews/<%=@review.id%>/edit" method="POST">
  <textarea name="content" rows=
  "9" cols="60"> <%=@review.content%> </textarea>

  <p> Rate this product:
  <select name="review">
  <option selected="selected" value="poor">poor</option>
  <option selected="selected" value="good">good</option>
  <option selected="selected" value="excellent">excellent</option>
  </select>
   </p>
   <p><input type="submit" value="Submit"></p>
 </form>
</p>
 <a href="/">Home</a>
