<center>
<h1> <%=@car.name %><?h1>
</center>
<h2> Add review</h2>
<p><textarea name="message"></textarea></p>
<p> Rate this product:
<select name="review">
<option selected="selected" value="poor">poor</option>
<option selected="selected" value="good">good</option>
<option selected="selected" value="excellent">excellent</option>
</select>
 </p>
