<!DOCTYPE html>
  <html>
  <h1>
  <% if flash.has?(:alert) %>
  <%= flash[:alert] %>
 <% end %>
  </h1>

  <style>
    h2 {text-align:center;}
    h3 {text-align:center;}
    </style>
    <p><font color="green">
  <h2> <%= @car.name %></h2>
  <h3> <%=@car.model %></h3>
</p>
  <h4> Add review</h4>
  <form action="/reviews/<%=@car.id%>" method="POST">
  <textarea name="content" rows=
  "9" cols="60"></textarea>

  <p> Rate this product:
  <select name="review">
  <option selected="selected" value="poor">poor</option>
  <option selected="selected" value="good">good</option>
  <option selected="selected" value="excellent">excellent</option>
  </select>
   </p>
   <p><input type="submit" value="Add Comment"></p>
 </form>
   <a href="/">Home</a>
