<!DOCTYPE html>
  <html>
  <style>
    body {text-align:center;}
  </style>
<body>
  <img src="https://github.com/rudenko9/car-reviews/blob/master/public/images/dodge.jpg?raw=true" height="300", width="400"/>
  <h1> Welcome to My First Sinatra Project </h1>
       <h2> Cars Reviews Application </h2>
Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a> to continue.
</body>
